Monitoring/.settings/org.eclipse.wst.validation.prefs
Monitoring/.settings/org.eclipse.jdt.core.prefs
Monitoring/.settings/org.eclipse.core.resources.prefs
Monitoring/.settings/.jsdtscope
MQConsumer/.settings/org.eclipse.m2e.core.prefs
MQConsumer/.settings/org.eclipse.jdt.core.prefs
MQConsumer/.settings/org.eclipse.core.resources.prefs
Monitoring/.settings/org.eclipse.wst.jsdt.ui.superType.name
Monitoring/.settings/org.eclipse.wst.jsdt.ui.superType.container
Monitoring/.settings/org.eclipse.wst.common.project.facet.core.xml
Monitoring/.settings/org.eclipse.wst.common.component
Monitoring/.settings/org.eclipse.m2e.core.prefs
